
<%# <div class="gallery">
  <% @competitions.each_with_index do |competition, index| %>
    <%# <%= link_to competition_path(competition), class: '' do %>
      <%# <% if competition.image.attached? %>
        <%# <li class="gallery-item item-<%= index %>"> %>
          <%# <%= cl_image_tag(competition.image.key, class: "competition-profile-img") %>
          <%# <div class="info">
            <h2 class="sport-title"><%= competition.name %></h2>
            <%# <p>Sport: <%= competition.sport.name</p> %>
            <%# <p>Number of teams: <%= competition.teams.count</p> %>
            <%# <p><i class="fa-solid fa-location-dot"></i> <%= competition.address %></p>
          <%# </div> %> %> %> %> %> %>
        <%# </li>
      <% end %> %> %>
    <%# <% end %>
  <%# <% end %> %> %> %>
<%# </div> %> %>

<main>
  <div class="container">
    <ul class="gallery">
      <li><h2 class="sport-title">Dragonfly</h2></li>
      <li><h2 class="sport-title">ladybug</h2></li>
      <li><h2 class="sport-title">Bug</h2></li>
      <li><h2 class="sport-title">Beetle</h2></li>
      <li><h2 class="sport-title">Bee</h2></li>
      <li><h2 class="sport-title">Grasshopper</h2></li>
    </ul>
  </div>
</main>
