<h1 class="mt-5 yellow-gradient" style="font-family: 'Bebas Neue', sans-serif; font-weight: 400; font-style: normal; font-size: 60px;">TOUTES NOS COMPETITIONS</h1>

<!-- Banner -->
<div class="mt-5 banner" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url(<%= asset_path('banner_XL.jpg') %>);">
  <div class="container">
    <div class="banner-text">
      <h1 class="my-3" style="font-family: 'Days One', sans-serif; font-weight: 400; font-style: normal; font-size: 60px;">
        Choisis ta Team.
      </h1>
    </div>
  </div>
</div>

<div class="container index-page">

  <div class="main-content">
    <div class="sidebar">
      <!-- Search bar -->
      <div class="search-bar">
        <input type="text" placeholder="Recherche par ville ou compétition ou par sport">
        <button><i class="fas fa-arrow-right"></i></button>
      </div>

      <!-- Cards -->
      <div class="wrapper">
        <%= link_to competition_path(1), class: 'clash-card-link' do %> <!-- Utiliser un ID factice pour test -->
          <div class="clash-card archer">
            <div class="clash-card__image clash-card__image--archer">
              <img src="<%= asset_path('ping pong vector image_card homepage.png') %>" alt="Ping pong" />
            </div>
            <div class="clash-card__level clash-card__level--archer">Ping Pong</div>
            <div class="clash-card__unit-name">Ping Tour</div>
            <div class="clash-card__unit-description">
              <p><i class="fa-solid fa-location-dot"></i> PARIS </p>
              <p><strong class="clash-card__level clash-card__level--archer">10 teams constituées</strong> <br>
              The Archer is a female warrior with sharp eyes. She wears a short, light green dress, a hooded cape.</p>
            </div>
            <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
              <div class="one-third">
                <div class="stat">24.07.24</div>
                <div class="stat-value">Date</div>
              </div>
              <div class="one-third">
                <div class="stat">06:00</div>
                <div class="stat-value">Heure</div>
              </div>
              <div class="one-third no-border">
                <div class="stat">300€</div>
                <div class="stat-value">Coût</div>
              </div>
            </div>
          </div> <!-- end clash-card archer-->
        <% end %>
      </div> <!-- end wrapper -->

      <div class="wrapper">
        <%= link_to competition_path(2), class: 'clash-card-link' do %> <!-- Utiliser un ID factice pour test -->
          <div class="clash-card goblin">
            <div class="clash-card__image clash-card__image--goblin">
              <img src="<%= asset_path('tennis girl vector_card homepage.png') %>" alt="goblin" />
            </div>
            <div class="clash-card__level clash-card__level--goblin">Tennis</div>
            <div class="clash-card__unit-name">Roland Parios</div>
            <div class="clash-card__unit-description">
              <p><i class="fa-solid fa-location-dot"></i> BORDEAUX </p>
              <p><strong class="clash-card__level clash-card__level--goblin">8 teams constituées</strong> <br>
              These pesky little creatures only have eyes for one thing: LOOT! It is the most amazing tournament</p>
            </div>
            <div class="clash-card__unit-stats clash-card__unit-stats--goblin clearfix">
              <div class="one-third">
                <div class="stat">30.08.24</div>
                <div class="stat-value">Date</div>
              </div>
              <div class="one-third">
                <div class="stat">09:00</div>
                <div class="stat-value">Heure</div>
              </div>
              <div class="one-third no-border">
                <div class="stat">100€</div>
                <div class="stat-value">Coût</div>
              </div>
            </div>
          </div> <!-- end clash-card goblin-->
        <% end %>
      </div> <!-- end wrapper -->
    </div>

    <div class="content">
      <div class="map-column">
        <!-- Carte Mapbox sera ajoutée ici plus tard -->
        <%# <img src="<%= asset_path('01-03_City_map2v_generated.jpg') %>
      </div> <!-- end map-column -->
    </div>
  </div> <!-- end main-content -->
</div> <!-- end container -->
