<!-- app/views/users/show.html.erb -->
<div class="container-profil" data-controller="add-sport">
  <div class="left-column">
    <div class="profile">
      <img src="https://picsum.photos/200/300">
      <h2><%= @user.id %>USERNAME</h2>
    </div>
    <div class="sports">
      <h3>Sports</h3>
      <% if @user_sports.any? %>
        <% @user_sports.each do |user_sport| %>
          <div class="sport">
            <p><%= user_sport.sport.name %> - <%= user_sport.level %> - <%= user_sport.palmares %></p>
          </div>
        <% end %>
      <% else %>
        <p>Aucun sport disponible</p>
      <% end %>
      <button type="button" class="button" data-action="click->add-sport#openSportModal">
        Ajouter un sport
      </button>
    </div>
  </div>

  <div class="middle-column">
    <div class="palmares">
      <h3>Palmarès</h3>
      <% if @user_sports.any? %>
        <% @user_sports.each do |user_sport| %>
          <% if user_sport.palmares.present? %>
            <div class="palmares-item">
              <p><%= user_sport.sport.name %> - <%= user_sport.palmares %></p>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Aucun palmarès disponible</p>
      <% end %>
      <button class="button" data-action="click->add-sport#openPalmaresModal">Ajouter un palmarès</button>
    </div>
  </div>

  <div class="right-column">
  <div class="teams">
    <h3>Dernières teams</h3>
    <% if @owned_teams.any? %>
      <p><%= @owned_teams.count %> équipes trouvées</p>
      <% @owned_teams.each do |team| %>
        <div class="team">
          <img src="https://picsum.photos/200/300" alt="<%= team.name %>">
          <p><%= team.name %></p>
          <p>Sport: <%= team.id %></p>
        </div>
      <% end %>
    <% else %>
      <p>Aucune équipe disponible</p>
    <% end %>
  </div>
</div>

 <!-- Modale pour ajouter un sport -->
  <div class="modal" data-add-sport-target="sportModal">
    <div class="modal-background" data-action="click->add-sport#close"></div>
    <div class="modal-content">
      <button class="modal-close is-large" aria-label="close" data-action="click->add-sport#close">&times;</button>
      <form action="/user_sports" method="post">
        <div class="field">
          <label class="label">Nom du sport</label>
          <div class="control">
            <input class="input" type="text" name="sport[name]" placeholder="Nom du sport">
          </div>
        </div>
        <div class="field">
          <label class="label">Niveau</label>
          <div class="control">
            <input class="input" type="text" name="user_sport[level]" placeholder="Niveau">
          </div>
        </div>
        <div class="control">
          <button type="submit" class="button button-modal">Ajouter</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modale pour ajouter un palmarès -->
  <div class="modal" data-add-sport-target="palmaresModal">
    <div class="modal-background" data-action="click->add-sport#close"></div>
    <div class="modal-content">
      <button class="modal-close is-large" aria-label="close" data-action="click->add-sport#close">&times;</button>
      <form action="/user_sports" method="post">
        <div class="field">
          <label class="label">Nom du sport</label>
          <div class="control">
            <input class="input" type="text" name="sport[name]" placeholder="Nom du sport">
          </div>
        </div>
        <div class="field">
          <label class="label">Palmarès</label>
          <div class="control">
            <input class="input" type="text" name="user_sport[palmares]" placeholder="Palmarès">
          </div>
        </div>
        <div class="control">
          <button type="submit" class="button button-modal">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
