<!-- app/views/users/show.html.erb -->
<div class="button-container">
  <button onclick="history.back()" class="btn btn-secondary btn-block my-3">Retour aux teams</button>
</div>
<div class="container-profil" data-controller="add-sport">
  <div class="left-column">
    <div class="profile card-profil mb-3">
      <img class="card-img-top" src="https://picsum.photos/200/300">
      <div>
        <h2><%= @user.id %> USERNAME</h2>
      </div>
    </div>
    <div class="sports">
      <h3>Sports</h3>
      <% if @user_sports.any? %>
        <% @user_sports.each do |user_sport| %>
          <div class="sport card-profil mb-3 <%= user_sport.sport.name.downcase %>">
            <div class="card-body">
              <h5 class="card-title"><%= user_sport.sport.name %></h5>
              <p class="card-text"> <%= user_sport.level %>ème Français</p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Aucun sport disponible</p>
      <% end %>
    </div>
  </div>

  <div class="middle-column">
    <div class="palmares">
      <h3>Palmarès</h3>
      <% if @user_sports.any? %>
        <% @user_sports.each do |user_sport| %>
          <% if user_sport.palmares.present? %>
            <div class="palmares-item card-profil mb-3 <%= user_sport.sport.name.downcase %>">
              <div class="card-body">
                <h5 class="card-title"><%= user_sport.sport.name %></h5>
                <p class="card-text"> <%= user_sport.palmares %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Aucun palmarès disponible</p>
      <% end %>
    </div>
  </div>

<div class="right-column">
  <div class="teams">
    <h3>Dernières teams</h3>
    <% if @owned_teams.any? %>
      <p><%= @owned_teams.count %> équipes trouvées</p>
      <% @owned_teams.each do |team| %>
        <div class="team card-profil mb-3">
          <%= link_to competition_path(team.competition), class: 'card-profil-link' do %>
            <div class="card-background" style="background-image: url('https://picsum.photos/200/300');"></div>
            <div class="card-body">
              <h5 class="card-title"><%= team.name %></h5>
              <p class="card-text"><%= team.competition.sport.name %></p>
              <p class="card-text"><%= team.competition.address %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>Aucune équipe disponible</p>
    <% end %>
  </div>
</div>

  <!-- Modale pour ajouter un sport -->
  <div class="modal" data-add-sport-target="sportModal">
    <div class="modal-background" data-action="click->add-sport#close"></div>
    <div class="modal-content">
      <button class="modal-close is-large" aria-label="close" data-action="click->add-sport#close">&times;</button>
      <form action="/user_sports" method="post">
        <div class="field">
          <label class="label">Nom du sport</label>
          <div class="control">
            <input class="input" type="text" name="sport[name]" placeholder="Nom du sport">
          </div>
        </div>
        <div class="field">
          <label class="label">Niveau</label>
          <div class="control">
            <input class="input" type="text" name="user_sport[level]" placeholder="Niveau">
          </div>
        </div>
        <div class="control">
          <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modale pour ajouter un palmarès -->
  <div class="modal" data-add-sport-target="palmaresModal">
    <div class="modal-background" data-action="click->add-sport#close"></div>
    <div class="modal-content">
      <button class="modal-close is-large" aria-label="close" data-action="click->add-sport#close">&times;</button>
      <form action="/user_sports" method="post">
        <div class="field">
          <label class="label">Nom du sport</label>
          <div class="control">
            <input class="input" type="text" name="sport[name]" placeholder="Nom du sport">
          </div>
        </div>
        <div class="field">
          <label class="label">Palmarès</label>
          <div class="control">
            <input class="input" type="text" name="user_sport[palmares]" placeholder="Palmarès">
          </div>
        </div>
        <div class="control">
          <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
